<!-- <div class="toolbar">
  <button mat-button (click)="addNewElement()">Add New ToDo</button>
  <button mat-button (click)="connect()">{{this.crdtService.textContent}}</button>
  <button mat-button (click)="clearBorad()">clear borad</button>
  ClientID: {{crdtService.ydoc.clientID}}
</div>
<div class="todo-boundary">
  <ng-container *ngFor="let item of crdtService.array; let idx = index">
    <mat-form-field
      appCustomizable
      cdkDragBoundary="todo-boundary"
      class="example-box"
      [domRect]="item.domRect"
      (itemResized)="itemResized$.next({ domRect: $event, id: item.id})"
      (itemDropped)="itemDropped$.next({ domRect: $event, id: item.id})"
      (itemRemoved)="deleteItem(item.id)"
      *ngIf="item.itemType === 'input'">
      <mat-label>{{item.metaData?.label}}</mat-label>
      <input readonly="true" matInput [ngModel]="item.metaData?.value">
    </mat-form-field>

    <div appCustomizable
      class="example-box"
      cdkDragBoundary=".todo-boundary"
      [domRect]="item.domRect"
      (itemResized)="itemResized$.next({ domRect: $event, id: item.id})"
      (itemDropped)="itemDropped$.next({ domRect: $event, id: item.id})"
      (itemRemoved)="deleteItem(item.id)"
      *ngIf="item.itemType === 'button'">
      <button mat-flat-button> {{item.metaData?.label}} </button>
    </div>


  </ng-container>
</div> -->


<app-toolbar></app-toolbar>
