<div class="toolbar">
  <button mat-button (click)="addToDoItem()">Add New ToDo</button>
  <button mat-button (click)="connect()">{{this.crdtService.textContent}}</button>
  <button mat-button (click)="clearBorad()">clear borad</button>
</div>
<div class="todo-boundary">
  <div *ngFor="let item of crdtService.array; let idx = index">

    <app-drag boundary="todo-boundary" (itemResized)="itemResized$.next({event: $event, model: item})" (itemDropped)="itemDropped$.next({event: $event, model: item})"
      (itemRemoved)="delete(idx)" [index]="idx" *ngIf="item" [model]="item"></app-drag>
  </div>
</div>
