<div class="toolbar">
  <button mat-button (click)="addToDoItem()">Add New ToDo</button>
  <button mat-button (click)="connect()">{{this.crdtService.textContent}}</button>
  <button mat-button (click)="clearBorad()">clear borad</button>
</div>
<div class="todo-boundary">
  <ng-container *ngFor="let item of crdtService.array; let idx = index">
    <mat-form-field
                    customizable
                    [domRect]="item.domRect"
                    (resizeEnd)="itemResized$.next({ domRect: $event, index: idx})"
                    cdkDragBoundary="todo-boundary"
                    class="example-box"
                    (itemDropped)="itemDropped$.next({event: $event, index: idx})"
                    (itemRemoved)="deleteItem(idx)">
      <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="item.metaData">
    </mat-form-field>

  </ng-container>
</div>
<!-- [model]="item.metaData" -->