<h5 mat-dialog-title>Update Component Configuration</h5>
<mat-dialog-content *ngIf="form">
  <form [formGroup]="form">
    <mat-form-field >
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" >
          <mat-option value="text">Text</mat-option>
          <mat-option value="number">Numeric</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" name="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput type="text" formControlName="label" name="label">
    </mat-form-field>
    <mat-form-field>
      <mat-label>PlaceHolder</mat-label>
      <input matInput type="text" formControlName="placeholder" name="placeholder">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Component Type</mat-label>
      <mat-select formControlName="itemType" >
          <mat-option *ngFor="let item of componentList" [value]="item">{{item}} Component</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button">Close</button>
  <button mat-button type="button" [disabled]="!form?.valid" (click)="updateElementItem()">Save changes</button>
</mat-dialog-actions>
