.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.toolbar > .toolbar-item {

  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
}

button.toolbar-item{
  border: 1px solid #008CBA;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #f1f1f1;
}
button.toolbar-item:hover{
  background-color: #008CBA;
  color: white;
  transition-duration: 0.4s;
}
